.red-button {
    display: block;
    min-width: 370px;
    min-height: 80px;
    margin-top: 80px;

    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #FF4343;

    &:hover {
        background-color: #E71414;
    }

    &:active {
        background-color: #FF4343;
        box-shadow: 4px 4px 30px 0px #FF4343;
    }

    @media (max-width: 1228px) {
        min-width: 314px;
        margin-top: 89px;
    }

    @media (max-width: 420px) {
        min-width: 280px;
        min-height: 60px;
        margin-top: 50px;
    }

    @media (max-width: 296px) {
        min-width: 0;
    }
}