.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3154;
    padding: 24px;
}

.copyright__text {
    color: #808080;
    text-transform: capitalize;
    text-align: center;

    span {
        color: #FFF;
        cursor: pointer;
    }
}   