.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    background-color: #2C3154;

    @media (max-width :1228px) {
        padding: 14px;
    }
}

.copyright__text {
    text-align: center;
    text-transform: capitalize;
    color: #808080;

    span {
        color: #FFF;
        cursor: pointer;
    }

    @media (max-width :420px) {
        font-size: 14px;
    }
}