.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 1px solid #7E5D6F;
    background-color: #FFF;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #7E5D6F;
}
