.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 114px 170px;

    @media (max-width: 1509px) {
        padding: 80px 20px;
    }

    @media (max-width: 1228px) {
        flex-wrap: nowrap;
    }

    @media (max-width: 944px) {
        flex-wrap: wrap;
    }

    @media (max-width: 420px) {
        gap: 50px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.team-card {
    max-width: 270px;

    @media (max-width: 1228px) {
        max-width: 223px;
    }

    @media (max-width: 1228px) {
        max-width: 280px;
    }
}

.team-card__name-title {
    margin-top: 30px;

    font-weight: 700;
    font-size: 24px;
    color: #2D3033;

    @media (max-width: 1228px) {
        margin-top: 25px;
        font-size: 18px;
    }
}

.team-card__job-title {
    margin-top: 5px;

    text-transform: uppercase;
    color: #FF4343;

    @media (max-width: 1228px) {
        font-size: 14px;
    }
}

.team-card__text {
    margin-top: 18px;

    color: #6C7279;

    @media (max-width: 1228px) {
        margin-top: 23px;
        font-size: 14px;
    }

    @media (max-width: 420px) {
        margin-top: 38px;
    }
}

.team-card__socials {
    margin-top: 38px;

    cursor: pointer;

    @media (max-width: 1228px) {
        max-width: 33px;
        max-height: 33px;
    }

    @media (max-width: 320px) {
        max-width: 40px;
        max-height: 40px;
        margin-top: 50px;
    }

    @media (max-width: 200px) {
        width: 25px;
        height: 25px;
    }
}