.works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1510px;
    margin: 0 auto;
}

.wroks__picture {
    max-width: 373px;

    @media (max-width: 1509px) {
        max-width: 300px;
    }

    @media (max-width: 1228px) {
        max-width: 250px;
    }

    @media (max-width: 420px) {
        max-width: 150px;
    }
}

.wroks__picture--border {
    border: 2px solid #FFF;
}

.works__overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover:after {
        content: '';
        box-shadow: 0 0 0 373px rgba(255, 67, 67, 0.80);
    }

    &:hover .works__overlay-title {
        display: block;
    }

    &:hover .works__overlay-subtitle {
        display: block;
    }

    &:active:after {
        content: '';
        box-shadow: 0 0 0 373px rgba(185, 12, 12, 0.80);
    }
}

.works__overlay-title {
    position: absolute;
    top: 120px;
    left: 96px;

    display: none;

    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;

    @media (max-width: 1509px) {
        top: 95px;
        left: 60px;
    }

    @media (max-width: 1228px) {
        top: 80px;
        left: 55px;
        font-size: 18px;
    }

    @media (max-width: 420px) {
        top: 43px;
        left: 7px;
    }

    @media (max-width: 164px) {
        font-size: 15px;
    }
}

.works__overlay-subtitle {
    position: absolute;
    top: 180px;
    left: 96px;

    display: none;

    color: #FFF;

    @media (max-width: 1509px) {
        top: 145px;
        left: 60px;
    }

    @media (max-width: 1228px) {
        top: 120px;
        left: 55px;
        font-size: 14px;
    }

    @media (max-width: 420px) {
        top: 70px;
        left: 5px;
    }

    @media (max-width: 164px) {
        font-size: 12px;
    }
}