@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 747px;
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../images/header/header-bg.png), lightgray 50%/cover no-repeat;
  background-size: 100% 100%;
  padding: 36px 170px 120px;
}
@media (max-width: 1509px) {
  .header {
    background-size: 1509px 100%;
    background-position: right 45% top 0;
  }
}
@media (max-width: 1364px) {
  .header {
    padding: 36px 20px 126px;
  }
}
@media (max-width: 1024px) {
  .header {
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../images/header/header-tablet-bg.png), lightgray 50%/cover no-repeat;
    background-size: 1007px 100%;
    background-position: right 45% top 0;
  }
}
@media (max-width: 550px) {
  .header {
    min-height: 0;
  }
}
@media (max-width: 420px) {
  .header {
    padding-top: 0;
    padding-bottom: 52px;
  }
}
@media (max-width: 320px) {
  .header {
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../images/header/header-mobile-bg.png), lightgray 50%/cover no-repeat;
    background-size: 100% 100%;
  }
}

.header__top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 296px;
}
@media (max-width: 1509px) {
  .header__top {
    gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 803px) {
  .header__top {
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media (max-width: 420px) {
  .header__logo {
    display: none;
  }
}

.header__logo-mobile {
  display: none;
}
@media (max-width: 420px) {
  .header__logo-mobile {
    display: block;
  }
}

.header__separator {
  border: 1px solid #BABBC5;
  min-width: 1170px;
  align-self: center;
}
@media (max-width: 1509px) {
  .header__separator {
    min-width: 0;
    align-self: normal;
  }
}
@media (max-width: 803px) {
  .header__separator {
    display: none;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  max-width: 1510px;
  margin-top: 130px;
}
@media (max-width: 1204px) {
  .header__title {
    margin-top: 157px;
    font-size: 48px;
  }
}
@media (max-width: 420px) {
  .header__title {
    margin-top: 50px;
    font-size: 36px;
    min-width: 280px;
  }
}
@media (max-width: 296px) {
  .header__title {
    min-width: 0;
  }
}
@media (max-width: 200px) {
  .header__title {
    font-size: 25px;
  }
}

.header__subtitle {
  font-size: 24px;
  color: #FFF;
  text-align: center;
  margin-top: 31px;
}
@media (max-width: 1204px) {
  .header__subtitle {
    margin-top: 62px;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 700px) {
  .header__subtitle {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 420px) {
  .header__subtitle {
    margin-top: 32px;
    font-size: 14px;
  }
}

@media (max-width: 803px) {
  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: 210px;
    height: 385px;
    z-index: 2;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../images/header/header-mobile-bg.png), lightgray 50%/cover no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgba(12, 12, 128, 0.822);
    border-top: none;
    border-left: none;
    justify-content: center;
    display: none;
  }
}
@media (max-width: 420px) {
  .header__nav {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
}

.nav-logo {
  display: none;
}
@media (max-width: 803px) {
  .nav-logo {
    display: flex;
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .nav-logo {
    margin-left: 0;
    margin-bottom: 28px;
  }
}

.nav__list {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  flex-wrap: wrap;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .nav__list {
    font-size: 12px;
  }
}
@media (max-width: 803px) {
  .nav__list {
    flex-direction: column;
  }
}

.nav-item {
  display: flex;
  min-width: 134px;
  min-height: 60px;
  align-items: flex-start;
  justify-content: center;
}
.nav-item:hover {
  border-bottom: 3px solid #BABBC5;
}
.nav-item:active {
  border-bottom: 3px solid #E71414;
}
.nav-item:active ~ .header__nav {
  display: none;
}
@media (max-width: 1024px) {
  .nav-item {
    min-width: 112px;
  }
}
@media (max-width: 803px) {
  .nav-item {
    min-width: 150px;
    min-height: 63px;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .nav-item {
    justify-content: flex-start;
  }
}

.nav-link {
  color: #FFF;
}
.nav-item:active .nav-link {
  color: #E71414;
}

a:active {
  color: #E71414;
}

.red-button {
  display: block;
  min-width: 370px;
  min-height: 80px;
  margin-top: 80px;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #FF4343;
}
.red-button:hover {
  background-color: #E71414;
}
.red-button:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
}
@media (max-width: 1228px) {
  .red-button {
    min-width: 314px;
    margin-top: 89px;
  }
}
@media (max-width: 420px) {
  .red-button {
    min-width: 280px;
    min-height: 60px;
    margin-top: 50px;
  }
}
@media (max-width: 296px) {
  .red-button {
    min-width: 0;
  }
}

#burgertoogle, .burger-button {
  display: none;
}

.burger-button {
  width: 24px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 803px) {
  .burger-button {
    display: flex;
    z-index: 3;
  }
}

.burger-button__line {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}

#burgertoogle:checked + .burger-button .burger-button__line {
  position: absolute;
  top: 8px;
}

#burgertoogle:checked + .burger-button .line2 {
  display: none;
}

#burgertoogle:checked + .burger-button .line1 {
  transform: rotate(45deg);
  transition: 0.05s ease-in-out;
}

#burgertoogle:checked + .burger-button .line3 {
  transform: rotate(135deg);
  transition: 0.05s ease-in-out;
}

#burgertoogle:checked ~ .header__nav {
  display: flex;
}

#burgertoogle:checked ~ .burger-button {
  position: fixed;
  left: 180px;
  top: 5px;
}
@media (max-width: 420px) {
  #burgertoogle:checked ~ .burger-button {
    top: 18px;
    left: 360px;
  }
}
@media (max-width: 400px) {
  #burgertoogle:checked ~ .burger-button {
    left: 340px;
  }
}
@media (max-width: 380px) {
  #burgertoogle:checked ~ .burger-button {
    left: 320px;
  }
}
@media (max-width: 360px) {
  #burgertoogle:checked ~ .burger-button {
    left: 300px;
  }
}
@media (max-width: 340px) {
  #burgertoogle:checked ~ .burger-button {
    left: 280px;
  }
}
@media (max-width: 320px) {
  #burgertoogle:checked ~ .burger-button {
    left: 260px;
  }
}
@media (max-width: 300px) {
  #burgertoogle:checked ~ .burger-button {
    left: 240px;
  }
}
@media (max-width: 280px) {
  #burgertoogle:checked ~ .burger-button {
    left: 220px;
  }
}
@media (max-width: 260px) {
  #burgertoogle:checked ~ .burger-button {
    left: 200px;
  }
}
@media (max-width: 240px) {
  #burgertoogle:checked ~ .burger-button {
    left: 180px;
  }
}
@media (max-width: 220px) {
  #burgertoogle:checked ~ .burger-button {
    left: 160px;
  }
}
@media (max-width: 200px) {
  #burgertoogle:checked ~ .burger-button {
    left: 140px;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 89px 31px;
  padding: 116px 160px;
  max-width: 1510px;
  margin: 0 auto;
}
@media (max-width: 1509px) {
  .features {
    padding: 80px 20px;
  }
}
@media (max-width: 1228px) {
  .features {
    gap: 50px 100px;
  }
}
@media (max-width: 774px) {
  .features {
    gap: 50px 20px;
  }
}
@media (max-width: 420px) {
  .features {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.features__card {
  display: flex;
  max-width: 370px;
  flex-flow: column;
}
@media (max-width: 1228px) {
  .features__card {
    max-width: 309px;
  }
}

.features__svg {
  align-self: center;
  margin-bottom: 29px;
  max-width: 100px;
  max-height: 100px;
}
@media (max-width: 1228px) {
  .features__svg {
    max-width: 85px;
    max-height: 85px;
    margin-bottom: 25px;
  }
}

.features__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media (max-width: 1228px) {
  .features__title {
    font-size: 18px;
  }
}

.features__text {
  text-align: center;
  color: #6C7279;
}
@media (max-width: 1228px) {
  .features__text {
    font-size: 14px;
  }
}

.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1510px;
  margin: 0 auto;
}

.wroks__picture {
  max-width: 373px;
}
@media (max-width: 1509px) {
  .wroks__picture {
    max-width: 300px;
  }
}
@media (max-width: 1228px) {
  .wroks__picture {
    max-width: 250px;
  }
}
@media (max-width: 420px) {
  .wroks__picture {
    max-width: 150px;
  }
}

.picture__border {
  border: 2px solid #FFF;
}

.works__overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.works__overlay:hover:after {
  content: "";
  box-shadow: 0 0 0 373px rgba(255, 67, 67, 0.8);
}
.works__overlay:active:after {
  content: "";
  box-shadow: 0 0 0 373px rgba(185, 12, 12, 0.8);
}

.overlay__title {
  font-weight: 900;
  font-size: 24px;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  left: 96px;
  display: none;
}
.works__overlay:hover .overlay__title {
  display: block;
}
@media (max-width: 1509px) {
  .overlay__title {
    top: 95px;
    left: 60px;
  }
}
@media (max-width: 1228px) {
  .overlay__title {
    font-size: 18px;
    top: 80px;
    left: 55px;
  }
}
@media (max-width: 420px) {
  .overlay__title {
    top: 43px;
    left: 7px;
  }
}
@media (max-width: 164px) {
  .overlay__title {
    font-size: 15px;
  }
}

.overlay__subtitle {
  color: #FFF;
  position: absolute;
  top: 180px;
  left: 96px;
  display: none;
}
.works__overlay:hover .overlay__subtitle {
  display: block;
}
@media (max-width: 1509px) {
  .overlay__subtitle {
    top: 145px;
    left: 60px;
  }
}
@media (max-width: 1228px) {
  .overlay__subtitle {
    font-size: 14px;
    top: 120px;
    left: 55px;
  }
}
@media (max-width: 420px) {
  .overlay__subtitle {
    top: 70px;
    left: 5px;
  }
}
@media (max-width: 164px) {
  .overlay__subtitle {
    font-size: 12px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 114px 170px;
}
@media (max-width: 1509px) {
  .team {
    padding: 80px 20px;
  }
}
@media (max-width: 1228px) {
  .team {
    flex-wrap: nowrap;
  }
}
@media (max-width: 944px) {
  .team {
    flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  .team {
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 50px;
  }
}

.team__card {
  max-width: 270px;
}
@media (max-width: 1228px) {
  .team__card {
    max-width: 223px;
  }
}
@media (max-width: 1228px) {
  .team__card {
    max-width: 280px;
  }
}

.member__name-title {
  font-weight: 700;
  font-size: 24px;
  color: #2D3033;
  margin-top: 30px;
}
@media (max-width: 1228px) {
  .member__name-title {
    font-size: 18px;
    margin-top: 25px;
  }
}

.member__job-title {
  color: #FF4343;
  text-transform: uppercase;
  margin-top: 5px;
}
@media (max-width: 1228px) {
  .member__job-title {
    font-size: 14px;
  }
}

.member__text {
  color: #6C7279;
  margin-top: 18px;
}
@media (max-width: 1228px) {
  .member__text {
    font-size: 14px;
    margin-top: 23px;
  }
}
@media (max-width: 420px) {
  .member__text {
    margin-top: 38px;
  }
}

.member__socials {
  margin-top: 38px;
  cursor: pointer;
}
@media (max-width: 1228px) {
  .member__socials {
    max-width: 33px;
    max-height: 33px;
  }
}
@media (max-width: 320px) {
  .member__socials {
    margin-top: 50px;
    max-width: 40px;
    max-height: 40px;
  }
}
@media (max-width: 200px) {
  .member__socials {
    width: 25px;
    height: 25px;
  }
}

.testimonials {
  position: relative;
  display: flex;
  justify-content: center;
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  max-width: 1510px;
}

.swiper-slide {
  display: flex;
  background-color: #5C3249;
  gap: 130px;
}
@media (max-width: 1228px) {
  .swiper-slide {
    gap: 85px;
  }
}
@media (max-width: 907px) {
  .swiper-slide {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .swiper-slide {
    padding-bottom: 90px;
  }
}

@media (max-width: 1228px) {
  .testimonials-slider__picture {
    max-width: 500px;
  }
}
@media (max-width: 907px) {
  .testimonials-slider__picture {
    max-width: 907px;
    max-height: 550px;
  }
}
@media (max-width: 420px) {
  .testimonials-slider__picture {
    max-width: 420px;
    max-height: 420px;
  }
}

.testimonials-slider__text {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  margin-top: 116px;
  margin-right: 50px;
}
@media (max-width: 1228px) {
  .testimonials-slider__text {
    margin-top: 47px;
  }
}
@media (max-width: 1228px) {
  .testimonials-slider__text {
    margin-right: 100px;
  }
}
@media (max-width: 907px) {
  .testimonials-slider__text {
    align-self: center;
    margin-top: 20px;
    margin-right: 0px;
    max-width: 600px;
  }
}
@media (max-width: 640px) {
  .testimonials-slider__text {
    max-width: 275px;
  }
}
@media (max-width: 320px) {
  .testimonials-slider__text {
    margin-top: 25px;
  }
}

.testimonials-slider__slogan {
  font-family: "Cardo", serif;
  font-size: 36px;
  color: #FFF;
}
@media (max-width: 1416px) {
  .testimonials-slider__slogan {
    font-size: 32px;
  }
}
@media (max-width: 1252px) {
  .testimonials-slider__slogan {
    font-size: 29px;
  }
}
@media (max-width: 1047px) {
  .testimonials-slider__slogan {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .testimonials-slider__slogan {
    text-align: center;
  }
}

.testimonials-slider__name-job {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 25px;
}
@media (max-width: 1344px) {
  .testimonials-slider__name-job {
    font-size: 12px;
  }
}
@media (max-width: 200px) {
  .testimonials-slider__name-job {
    text-align: center;
  }
}

.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}
@media (max-width: 320px) {
  .swiper-pagination {
    padding-top: 23px;
  }
}
@media (max-width: 200px) {
  .swiper-pagination {
    gap: 10px;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  background-color: #FFF;
  opacity: 1;
}
@media (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}

.download {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 114px 170px;
}
@media (max-width: 1228px) {
  .download {
    padding: 111px 20px 78px;
  }
}
@media (max-width: 420px) {
  .download {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  text-align: center;
}
@media (max-width: 1228px) {
  .download__title {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .download__title {
    min-width: 280px;
  }
}
@media (max-width: 296px) {
  .download__title {
    min-width: 0;
  }
}

.download__subtitle {
  font-weight: 700;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}
@media (max-width: 1228px) {
  .download__subtitle {
    font-size: 14px;
  }
}

.download__button {
  margin-top: 48px;
  font-size: 18px;
}
@media (max-width: 420px) {
  .download__button {
    min-height: 80px;
  }
}
@media (max-width: 320px) {
  .download__button {
    margin-top: 10px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #353C65;
  gap: 133px;
  padding: 72px 170px;
}
@media (max-width: 1509px) {
  .footer {
    padding: 45px 20px;
    gap: 133px;
  }
}
@media (max-width: 1228px) {
  .footer {
    gap: 105px;
  }
}
@media (max-width: 1002px) {
  .footer {
    gap: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 832px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 60px;
  }
}

.footer__location {
  display: flex;
  flex-direction: column;
  max-width: 370px;
}
@media (max-width: 1228px) {
  .footer__location {
    max-width: 315px;
  }
}

.location__title {
  font-weight: 700;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1228px) {
  .location__title {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .location__title {
    min-width: 280px;
  }
}
@media (max-width: 319px) {
  .location__title {
    min-width: 0;
  }
}

.location__subtitle {
  color: #FFF;
  text-align: center;
  text-transform: capitalize;
  margin-top: 29px;
}
@media (max-width: 1228px) {
  .location__subtitle {
    font-size: 14px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 370px;
}
@media (max-width: 1228px) {
  .footer__social {
    max-width: 315px;
  }
}
@media (max-width: 832px) {
  .footer__social {
    min-height: 85px;
  }
}

.social__title {
  font-weight: 700;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1228px) {
  .social__title {
    font-size: 14px;
  }
}

.social__svg-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1228px) {
  .social__svg-wrap {
    gap: 23px;
  }
}
@media (max-width: 199px) {
  .social__svg-wrap {
    gap: 0;
  }
}

.social__svg {
  max-width: 39px;
  max-height: 39px;
  cursor: pointer;
}
@media (max-width: 1228px) {
  .social__svg {
    max-width: 33px;
    max-height: 33px;
  }
}

.footer__about {
  display: flex;
  flex-direction: column;
  max-width: 370px;
}
@media (max-width: 1228px) {
  .footer__about {
    max-width: 315px;
  }
}

.about__title {
  font-weight: 700;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1228px) {
  .about__title {
    font-size: 14px;
  }
}

.about__subtitle {
  color: #FFF;
  text-align: center;
  text-transform: capitalize;
  margin-top: 29px;
}
@media (max-width: 1228px) {
  .about__subtitle {
    font-size: 14px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3154;
  padding: 24px;
}
@media (max-width: 1228px) {
  .copyright {
    padding: 14px;
  }
}

.copyright__text {
  color: #808080;
  text-transform: capitalize;
  text-align: center;
}
.copyright__text span {
  color: #FFF;
  cursor: pointer;
}
@media (max-width: 420px) {
  .copyright__text {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */